<!DOCTYPE HTML>
<html
		lang="ko"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Spring-Security-Study</title>
	<style>
		a {
			display: block;
		}
	</style>
</head>
<body>
	<h1>Spring Security</h1>
	<a href="/example">example 페이지 바로가기</a>
	<a href="/user">user 페이지 바로가기</a>
	<a href="/admin">admin 페이지 바로가기</a>
	<a href="/logout">로그아웃</a>
</body>
</html>
